* {
  background-color: black;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

button {
  background-color: black;
  color: white;
  border: 1px solid white;
  /*width: 50px;
  */
  height: 50px;
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.display {
  margin: 10px 0;
  width: 100px;
  height: 50px;
  border: 1px solid grey;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
